{{ define "main" }}
<div class="container mx-auto px-4 py-8">
  <div class="mb-12">
    {{ if .Params.author_image }}
      <div class="relative h-96 md:h-[32rem] overflow-hidden rounded-lg shadow-xl">
        <img src="{{ .Params.author_image | relURL }}" alt="Author Image" class="absolute top-0 left-0 w-full h-full object-cover object-center rounded-lg">
        <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black to-transparent p-8">
          <h1 class="text-4xl md:text-5xl font-bold text-white mb-2">{{ .Title }}</h1>
          <p class="text-xl text-gray-300">Author of Hacking and Coffee</p>
        </div>
      </div>
    {{ else }}
      <h1 class="text-4xl md:text-5xl font-bold text-hacking-midnight dark:text-white mb-8">{{ .Title }}</h1>
    {{ end }}
  </div>
  
  <article class="prose prose-hacking-violet dark:prose-invert max-w-none">
    {{ .Content }}
  </article>
</div>
{{ end }}
