@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer components {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

     body {
      @apply bg-white text-neutral-900 dark:bg-neutral-900 dark:text-white;
    }
}

@layer utilities {
    .custom-scrollbar {
        /* For Webkit browsers (Chrome, Safari) */
        &::-webkit-scrollbar {
            width: 8px;
        }
        
        &::-webkit-scrollbar-track {
            background: theme('colors.hacking-midnight.DEFAULT');
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: theme('colors.hacking-violet.DEFAULT');
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: theme('colors.hacking-violet.light');
        }

        /* For Firefox */
        scrollbar-width: thin;
        scrollbar-color: theme('colors.hacking-violet.DEFAULT') theme('colors.hacking-midnight.DEFAULT');
    }
}
