{{ define "main" }}
<div class="flex flex-col min-h-screen">
  <!-- Header Section -->
  <section class="bg-hacking-midnight-darker dark:bg-hacking-midnight text-white py-20">
    <div class="container mx-auto px-4 flex flex-col items-center">
      <h1 class="text-4xl md:text-6xl font-bold mb-4 text-center">{{ .Title }}</h1>
      <p class="text-xl md:text-2xl mb-8 text-center">{{ .Params.subtitle }}</p>
    </div>
  </section>

  <!-- Posts List Section -->
  <section class="bg-white dark:bg-hacking-slate-darker flex-grow py-16">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {{ range .Pages }}
          {{ partial "components/post-card.html" . }}
        {{ end }}
      </div>
    </div>
  </section>
</div>
{{ end }}
